<div class="babble-post-composer">
  <div class="babble-post-composer-textarea">
    {{textarea value=text placeholder=placeholder rows=3 }}
  </div>
  {{#if errorMessage}}
    <span class="babble-composer-error-message">{{i18n errorMessage}}</span>
  {{/if}}
  <button {{action 'submit'}} {{bind-attr disabled="submitDisabled"}} class="babble-submit btn btn-primary">{{i18n 'babble.send'}}</button>
  <button {{action 'selectEmoji'}} class="btn no-text emoji" title="Emoji :smile:" aria-label="Emoji :smile:">
    <i class="fa fa-smile-o"></i>
  </button>
  <button {{action 'upload'}} class="btn no-text upload" title="Upload" aria-label="Upload">
    <i class="fa fa-picture-o"></i>
  </button>
  {{#if isUploading}}
    <div class="file-uploading">
      {{loading-spinner size="small"}} {{i18n 'upload_selector.uploading'}}
      {{uploadProgress}}%
      {{#if isCancellable}}
        <a href class="cancel-file-upload" {{action "cancelUpload"}}>{{fa-icon "times"}}</a>
      {{/if}}
    </div>
  {{/if}}
</div>
