{{#menu-panel visible=visible}}
  <section class="babble-chat">
    <div class="babble-title-wrapper">
      <div class="babble-title">
        <h4 class="babble-group-title">{{topic.title}}</h4>
        <i class="fa fa-eye" title="{{i18n 'babble.visibility_message' groupNames=topic.details.group_names}}"></i>
      </div>
    </div>
    <ul class="babble-posts">
      {{#unless topic.postStream.posts}}
        <li class="babble-empty-topic-message">{{i18n 'babble.empty_topic_message'}}</li>
      {{/unless}}
      {{#each post in topic.postStream.posts}}
        {{babble-post post=post topic=topic}}
      {{/each}}
      {{conditional-loading-spinner condition=topic.postStream.loadingBelow}}
    </ul>
    {{babble-composer topic=topic}}
  </section>
{{/menu-panel}}
