<div class="babble-composer">
  <div class="babble-composer-textarea">
    {{textarea value=text placeholder=placeholder }}
  </div>
  <button {{action 'submit'}} {{bind-attr disabled="submitDisabled"}} class="btn btn-primary pull-right">{{i18n 'babble.send'}}</button>
  <button {{action 'selectEmoji'}} class="btn no-text emoji" title="Emoji :smile:" aria-label="Emoji :smile:">
    <i class="fa fa-smile-o"></i>
  </button>
  {{#if showError}}
    <span class="babble-composer-error-message">{{i18n 'babble.error_message'}}</span>
  {{/if}}
</div>
