{{#if model}}
  <form class="form-horizontal">
    <div>
      <label for="title">{{i18n 'babble.admin.title'}}</label>
      {{input value=model.title}}
    </div>

    <div>
      <label for="allowed_groups">{{i18n 'babble.admin.allowed_groups'}}</label>
      {{admin-group-selector selected=selected available=available}}
    </div>

    <div class='buttons'>
      <button {{action "save"}} {{bind-attr disabled="disableSave"}} class='btn btn-primary'>{{i18n 'admin.customize.save'}}</button>
      {{#if model.id}}
        <button {{action "destroy"}} class='btn btn-danger'>{{fa-icon "trash-o"}}{{i18n 'admin.customize.delete'}}</button>
      {{/if}}
    </div>
  </form>
{{else}}
  <p>{{i18n 'search.no_results'}}</p>
{{/if}}
